.input {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}

.input_box {
    width: 100%;
    border-radius: 12px;
    padding: 1rem;
    padding-left: 4rem;
    font-size: 18px;
    border: none;
    transition: 0.2s;
    font-size: 18px;
}

.dark .input_box,
.dark .edit-input {
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: var(--Light-Grayish-Blue);
}

.light .input_box,
.light .edit-input {
    background-color: var(--Very-Light-Gray);
    color: var(--Dark-Grayish-Blue);
}

.edit-input {
    margin: 0.5rem;
    margin-left: 0;
    padding: 0.6rem;
    width: 100%;
    border-radius: 12px;
    transition: 0.2s;
    font-size: 18px;
}

.dark .edit-input {
    border: 1px solid var(--Light-Grayish-Blue);
}

.light .edit-input {
    border: 1px solid var(--Dark-Grayish-Blue);
}

.input_box:focus,
.edit-input {
    outline: none;
}

.input-submit {
    position: absolute;
    width: 2.22rem;
    height: 2.22rem;
    border-radius: 50%;
    margin: 12px;
    left: 0;
    border: none;
    font-size: 15px;
    background-color: transparent;
    transition: 0.2s all;
    cursor: pointer;
    transition: 0.2s all;
    transform: scale(0.8);
}

.input-submit:hover::before {
    position: absolute;
    content: " ";
    background: var(--Check-Background);
    border-radius: 50%;
    top: -2px;
    left: -2px;
    width: 2.22rem;
    height: 2.22rem;
}

.input-submit:hover::after {
    position: absolute;
    content: " ";
    border-radius: 50%;
    top: 0px;
    left: 0px;
    width: 2rem;
    height: 2rem;
}

.input-submit:active::after,
.todo-item.checked .input-submit::after {
    position: absolute;
    content: "\2713";
    color: var(--Very-Light-Grayis-Blue);
    font-size: 1.5rem;
    background: var(--Check-Background) !important;
    padding: 2px 9px;
    border-radius: 50%;
    top: -2px;
    left: -2px;
}

.input-submit:active:hover::after,
.todo-item.checked .input-submit:hover::after {
    padding: 2px;
}

.dark .input-submit {
    border: 2px solid var(--Dark-Grayish-Blue);
}

.light .input-submit {
    border: 2px solid var(--Very-Light-Grayis-Blue);
}

.dark .input-submit:hover::after {
    background: var(--Very-Dark-Desaturated-Blue);
}

.light .input-submit:hover::after {
    background: var(--Very-Light-Gray);
}

/*todo list style*/
.todos {
    width: 100%;
    height: fit-content;
    z-index: 1;
    margin-top: 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.dark .todos .todo-item {
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: var(--Light-Grayish-Blue);
}

.light .todos .todo-item {
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Grayish-Blue);
}

.todo-item {
    padding: 0.2rem 1rem;
    padding-left: 4rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: "box-shadow" 0.2s ease-in-out;
}

.todo-item.active.checked {
    display: none;
}

.todo-item.completed.checked {
    display: flex;
}

.todo-item.completed {
    display: none;
}

.icon-container {
    display: flex;
    gap: 8px;
}

.icon-container span {
    cursor: pointer;
}

.todo-item.checked p {
    color: var(--Dark-Grayish-Blue);
    text-decoration: line-through;
}

.dark .todo-item {
    border-bottom: 1px solid var(--Dark-Grayish-Blue);
}

.light .todo-item {
    border-bottom: 1px solid var(--Very-Light-Grayis-Blue);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Dark-Grayish-Blue);
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.footer span {
    cursor: pointer;
    padding: 1rem;
}

.footer .filter-container {
    display: flex;
    gap: 1rem;
    font-weight: 700;
}

.filter-container .active {
    color: var(--Bright-Blue) !important;
}

.dark .footer,
.dark .todos,
.dark .filter-container {
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: var(--Dark-Grayish-Blue);
}

.light .footer,
.light .todos,
.light .filter-container {
    background-color: var(--Very-Light-Gray);
    color: var(--Dark-Grayish-Blue);
}

.dark .footer span:hover {
    color: var(--Light-Grayish-Blue);
}

.light .footer span:hover {
    color: var(--Very-Dark-Grayish-Blue);
}

.drag {
    color: var(--Dark-Grayish-Blue);
    margin-top: 3rem;
}

.light .dragactive {
    box-shadow: 0 0 6px var(--Dark-Grayish-Blue);
}

.dark .dragactive {
    box-shadow: 0 0 6px var(--Very-Light-Grayis-Blue);
}

@media (max-width: 480px) {
    .filter-container {
        position: absolute;
        width: 100%;
        top: 5rem;
        border-radius: 10px;
        justify-content: center;
        gap: 0.1rem !important;
    }

    .drag {
        margin-top: 6rem;
    }
}